h1{
color: rgb(161, 42, 165);
text-align: right;

background-color: rgb(168, 136, 136);

text-shadow: 10px 12px 5px rgb(7, 7, 7);


}

h1:hover{

background-color: blue;
font-size: 35px;

}


p:{

font-weight: bolder;
font-style: italic;


}

img{

    width: 200px;
    height: 200px;
}







